

.container{
    width: 1400px;
    margin: auto;
}

.config{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-top: 3rem;

    
}

.cameraDisplay{
    height: 480px;
    width: 720px;
    background-color: #121212;
    justify-self: left;
    position: fixed; 
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    
} 
.cameraConfigArea{
    min-height: 300px;
    width: 40rem;
    justify-self: end;
    border: 2px solid #3a3a3a;
    margin-bottom: 10vh;
    overflow-y: hidden;
    position: relative;
}

.configForm{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
}

.btn{
    padding: 0.4rem 4rem;
    background-color:#007dfc;
    color: aliceblue;
    font-weight: 500;
    letter-spacing: 1px;
    outline: none;
    border: 2px solid #007dfc;
    margin: 1rem  ;
}

.reset{
    padding: 0.4rem 4rem;
    background-color:#007dfc;
    color: aliceblue;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    border: 2px solid #007dfc;
   
}

.btn:hover{
    background-color: #2390fc;
}

.options1 , .dimensionChooser , #cord{
    margin: 1rem auto;
    width: 80%;
    padding: 1rem;
    border:3px solid #007dfc;
    position: relative;
    font-weight: 600;
}

#cord h4{
    font-weight: 600;
}


 label{
    font-weight: 600;
}

input{
    background-color: transparent;
    border : 2px solid #006cd8;
    padding: 5px 10px;
}

legend{
    letter-spacing: 1px;
    padding: 0 1rem;
    font-weight: 600;  
}

.options1 select{
    width: 50%;
    border: 2px solid #3a3a3a;

}



.draw{
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
   z-index: 1;
    border: 2px solid #007dfc;
 
    opacity: 0;
}

.cameraDisplay img{
    height: 480px ;
    width: 720px;
    position: absolute;
    top: 0;
    left: 0;
    
}

#pseudoDraw{
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
    position: absolute;
     top: 0;
     left: 0;
     height: 0;
     width: 0;
     opacity: 0;
    border: 2px solid #0080ffa6;
    
    
}

span{
    font-weight: bold;
}

.degree::after{
    content : "\00B0";
}

input[type = 'range']{
    margin: 0 1rem;
    
}

.angle{
    height: 1.5rem;
    transform: translateY(20%);
    
}

h4{
    display: inline-block;
    margin-left:  1rem;
}
