.container{
    min-height: 100px;
    width: 1400px;
    margin: 3rem auto;
    /* box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 12px -5px rgb(0 172 193 / 46%); */
    
}

.allGrids{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    
      
}

.line-breaker{
    height: 4px;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,125,252,1) 0%, rgba(41,217,179,1) 58%);
    margin: 0.5rem 0 3rem;
}

.heading
{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.heading h1{
    font-weight: 600;
}

.heading span{
    font-weight: 600;
}


.grid{
    height: 420px;
    width: 640px;
   
    
   justify-self: center;  
   display: flex;
   justify-content:center;
   align-items: center;
   flex-direction: column;
   font-size: 3rem;
   margin-bottom: 3rem;
   color: #007dfc;
   position: relative;
}

.grid .image{
    height: 360px;
    width: 100%;
    background-color: #121212;
}

.image img{
    height: 100%;
    width:100%;
}

.grid .Live{
    height: 30px;
    width: 100%;
    background-color: #2A2A2A;
    display: flex;
    flex-direction: row;
}

.grid .count{
    height: 30px;
    width: 100%;
    background-color: #2A2A2A;
    font-size: 1rem;
    text-align: center;
    color: aliceblue;
}

.totalCount{
    font-size: 1rem;
    margin-right: 1rem;
    border:1px solid rgba(41,217,179,1);
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 0;
    right: 0;
    
     
    
}

.totalCount i{
    color: rgb(45, 223, 119);
    font-size: 25px;
   

}
.Live {
    color: aliceblue;
    font-size: 1rem;  
}

.Live p {
    
    align-self: center;
    margin:  0 1rem;
}



.icon_live{
    
    height: 15px;
    width: 15px;
    animation: blinker 1.25s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
    background:#e50040;
    border-radius: 50%;
    margin-left: 1rem;
    transform: translate(25%,50%);
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}