.container{
    min-height: 50vh;
    width: 1200px;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    flex-direction: column;
}

.backgroundVid{
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #4f5760;
    z-index: -1;
}

#backgroundVideo{
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.transparent{
    height: 100%;
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #232d39c0;
}

.transparent h1{
    transform: translateY(-50%);
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    font-size: 50px;
    font-weight: 600;
}

.challengeDesc , .featureDesc , .setupDesc , .demoDesc{
    width: 50%;
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

.challengeDesc h2 , .featureDesc h2 , .setupDesc h2 , .demoDesc h2{
    
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

.challengeDesc p ,.featureDesc p ,  .setupDesc p , .demoDesc p{
    color: #818181;
    text-align: center;
    font-size: 14px;
    margin: 1rem 0;
}

#water{
    margin: 1rem;
    font-size: 40px;
    color: #007dfc;
}

#smallPng{
    height: 100px;
}

.challengesList , .featuresList , .setupsList{
    width: 100%;
    margin: 3rem;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.feature{
     display: grid;
    grid-template-columns: 2fr 5fr;
     margin:2rem 0;
 
}

.icon{
    height: 100px;
    width: 100px;
    margin: auto;
    background-color: #007dfc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
   
}

.icon i{
    font-size: 30px;
    color: aliceblue;
}

.right-content{
  margin-right: 1rem;

}

.right-content h4{
    color: #232D39;
    font-size: 17px;
    font-weight: 500;
}

.right-content p{
    margin-top: 3px ;
    font-size: 13px;
    color: #818181;
}

.demoSection{
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-gap: 2rem;
}

.demoSection ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.option{
    
   background-color:#eeeeee;
    transition: 0.3s;
    width: 80%;
    padding: 1rem;
    text-align: center;
    box-shadow:  0 5px 10px rgba(0,0,0,0.30), 0 5px 10px rgba(0,0,0,0.22);
    transition: 0.3s;
    color: #232D39;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.option:hover{
    color: #121212;
    background-color: #67b2fd;
}

.videoSection{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    width: 640px;
    height: 360px;
    background-color: #232D39;
    border-radius: 5px;
    
    box-shadow:  0 5px 10px rgba(0,0,0,0.30), 0 5px 10px rgba(0,0,0,0.22);
    
}