
.container{
    min-height: 50vh;
    width: 1450px;
    margin: 0 auto;
   
}

.chart-section{
    min-height: 800px;
    width: 100%;
    margin: auto;
    display: flex;
    
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    
}

.Chart{

    min-height: 650px;
    width: 1400px;
    margin: 2rem 0;
    background-color: #070707e0;
    border-radius: 20px; 
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.titleAndSelector{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem 2rem;
}

.title{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
}

.line-breaker{
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,125,252,1) 0%, rgba(41,217,179,1) 58%);
    /* margin: 0.5rem 0 3rem; */
}

.title h2{
    position: absolute;
    left: 0;
    font-size: 1rem;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
    color: aliceblue;
    font-weight: 500;
}

.title h3{
    color: gray;
    font-weight: 600;
    letter-spacing: 1px;
}

.optionChoose ul{
    margin: 1rem;
    list-style: none;
    display: flex;
   
    background-color: #2B2B2B;
    
    border-radius: 1px solid;
    box-shadow: 1px 5px 50px 1px rgb(21 21 21);;
    box-sizing: border-box;
    border-radius: 20px;
}

.selector{
    display: flex;
    justify-content: center;
    align-items: center;
}

.option {
    margin: 0 1rem;
    padding: 10px 16px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    color: aliceblue;
}

.camAndGraph{
    display: grid;
    grid-template-columns: 380px 900px;
    grid-gap: 2rem;
   margin: 3rem 2rem;
   

}

.liveCamera{
    height: 400px ;
    width: auto;

    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    flex-direction: column;
    /* background-color: #2B2B2B; */
    border-radius: 10px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4); */
    
}


.Live {
    display: flex;
    color: aliceblue;
    font-size: 1rem;  
}

.Live h2 {
    
    
    font-weight: 400;
}

.Live p{
    align-self: center;
    font-size: 14px;
    text-transform: capitalize;
    font-style: italic;
    color: aliceblue;
    
}


.icon_live{
    
    height: 15px;
    width: 15px;
    animation: blinker 1.25s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
    background:#e50040;
    border-radius: 50%;
    margin:0 1rem ;
    transform: translate(25%,50%);
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

.liveCamera h2{
    font-size: 20px;
    color: aliceblue;
}

.liveCamera p{
    color: gray;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
}

.image{
    width: 355.5px;
    height: 200px;
    margin: 2rem 0;
    box-shadow: 1px 5px 50px 1px rgb(21 21 21);
}


.graph{
    min-height: 400px;
    min-width: 900px;
    
   
    /* background-color: #eeeeee;  */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

.canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 900px;
    height: 400px;
    
    background-color: #17243a;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


.ListCount{
    display: flex;
    justify-content: space-between;
    margin: 3rem 2rem;
    margin: 3rem 2rem; 
}

.MaxCount,.AverageCount,.CurrCount,.TotalCount{
    height: 90px;
    width: 300px;
    background-color:#383838; 
   
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 10px;

}

.MaxCount p,.AverageCount p,.CurrCount p,.TotalCount p{
    
    color: #bababa;
    text-align: center;
    font-size: 14px;
    position: absolute;
    left:5px;
    top: 10px;
}

.MaxCount h3, .AverageCount h3,.CurrCount h3,.TotalCount h3{
    
    color: aliceblue;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 15px;
    font-weight: 500;
    
}

.totalWindow{
    width: 355.5px;
    height: 200px;
    background-color: #121212;
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.totalWindow h4{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}




.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #007dfc;
  background: -moz-linear-gradient(left, #007dfc 10%, rgba(0,125,252, 0) 42%);
  background: -webkit-linear-gradient(left, #007dfc 10%, rgba(0,125,252, 0) 42%);
  background: -o-linear-gradient(left, #007dfc 10%, rgba(0,125,252, 0) 42%);
  background: -ms-linear-gradient(left, #007dfc 10%, rgba(0,125,252, 0) 42%);
  background: linear-gradient(to right, #007dfc 10%, rgba(0,125,252, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #007dfc;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #eeeeee;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
