{% include "head.html" %}

<link rel="stylesheet" href="{{url_for('static',filename = 'CSS/base.css')}}" />
<link
  rel="stylesheet"
  href="{{url_for('static',filename = 'CSS/config.css')}}"
/>
<script
  src="{{url_for('static',filename = 'JavaScript/base.js')}}"
  defer
></script>
<script
  src="{{url_for('static',filename = 'JavaScript/boundaryDraw.js')}}"
  defer
></script>
<title>Home</title>

{% include "navigation.html" %}

<main class="container">
  <div class="config">
    <div class="cameraDisplay" id="cameraDisplay">
      <!-- <img src="{{url_for('static',filename = 'images/bg1.jpg')}}" alt="" /> -->
      <h1 style="color: #007dfc; text-align: center; font-weight: 600">
        {{cam.get('ip')}}
      </h1>
      <img src="{{ url_for('views.video_feed' , id = cam.get('_id') ) }}" />
      <div class="draw" id="draw"></div>
      <!-- <span id="pseudoDraw" ></span> -->
    </div>
    <div class="cameraConfigArea">
      <form
        action="/config/{{cam.get('_id')}}"
        class="configForm"
        id="form"
        method="POST"
      >
        <fieldset class="options1">
          <legend>Camera</legend>
          <label for="cameraName">Enter Camera name : </label>
          <input
            type="text"
            name="cameraName"
            value="{{cam.get('CameraName')}}"
          />

          <br /><br />

          <label for="IP">Enter Camera IP : </label>
          <input type="text" name="IP" value="{{cam.get('ip')}}" />
          <br /><br />
          <label for="Threshold">Threshold (<em>Limiting Value</em>) : </label>
          <input
            type="text"
            name="Threshold"
            value="{{cam.get('threshold')}}"
          />
        </fieldset>

        <!-- <fieldset class="dimensionChooser">
                    <legend>Choose Dimension</legend>
                    <label for="height">Height : </label>
                    <input type="range" id="height" name="height" min="0" max="100" step="1" value="0">
                    <span>0%</span>
                    <br><br>
                    <label for="width">Width : </label>
                    <input type="range" id = "width" name="width" min="0" max="100" step="1" value="0">
                    <span>0%</span>
                    <br><br>
                    <label for="SkewX"><img src="angle.png" alt="" class="angle">  X : </label>
                    <input type="range" id = "SkewX" name="SkewX" min="0" max="180" step="1" value="0">
                    <span class="degree">0 &nbsp;</span>
                    <br><br>
                    <label for="SkewY"><img src="angle.png" alt="" class="angle"> Y : </label>
                    <input type="range" id = "SkewY" name="SkewY" min="0" max="180" step="1" value="0">
                    <span class="degree">0 &nbsp;</span>
                    <br><br>
                    <label for="SkewZ"><img src="angle.png" alt="" class="angle"> Z : </label>
                    <input type="range" id = "SkewZ" name="SkewZ" min="0" max="180" step="1" value="0">
                    <span class="degree">0 &nbsp;</span>

                   


                </fieldset> -->

        <fieldset id="cord">
          <legend>Co-Ordinates</legend>
          <h4 id="X">X : 0</h4>

          <h4 id="Y">Y : 0</h4>
          <br /><br />
          <h4 id="c1">
            1st Coordinate : ({{cam['fc']['x']}} , {{cam['fc']['y']}})
          </h4>
          <br /><br />
          <h4 id="c2">
            2nd Coordinate : ({{cam['sc']['x']}} , {{cam['sc']['y']}})
          </h4>
          <br /><br />
          <input
            type="text"
            name="cord1x"
            id="cord1x"
            value="{{cam['fc']['x']}}"
            hidden
          />
          <input
            type="text"
            name="cord1y"
            id="cord1y"
            value="{{cam['fc']['y']}}"
            hidden
          />

          <input
            type="text"
            name="cord2x"
            id="cord2x"
            value="{{cam['sc']['x']}}"
            hidden
          />
          <input
            type="text"
            name="cord2y"
            id="cord2y"
            value="{{cam['sc']['y']}}"
            hidden
          />
          <button id="reset" type="reset" class="reset">Reset</button>
        </fieldset>

        <!-- 
                   <fieldset class="options1">

                    <legend>OPTION1</legend>
                    
                    <label  class = "selectOpt" for="cam1" >Cam 1 : </label>
                    <select name="cam1" id="options1">
                        <option value="volvo">1</option>
                        <option value="saab">2</option>
                        <option value="opel">3</option>
                        <option value="audi">4</option>
                    </select>
                    <br><br>
                    

                    <label for="text" >Enter Camera name : </label>
                    <input type="text" name="text">
                </fieldset>

                   <fieldset class="options1">

                    <legend>OPTION1</legend>
                    
                    <label  class = "selectOpt" for="cam1" >Cam 1 : </label>
                    <select name="cam1" id="options1">
                        <option value="volvo">1</option>
                        <option value="saab">2</option>
                        <option value="opel">3</option>
                        <option value="audi">4</option>
                    </select>
                    <br><br>
                    

                    <label for="text" >Enter Camera name : </label>
                    <input type="text" name="text">
                </fieldset>

                   <fieldset class="options1">

                    <legend>OPTION1</legend>
                    
                    <label  class = "selectOpt" for="cam1" >Cam 1 : </label>
                    <select name="cam1" id="options1">
                        <option value="volvo">1</option>
                        <option value="saab">2</option>
                        <option value="opel">3</option>
                        <option value="audi">4</option>
                    </select>
                    <br><br>
                    

                    <label for="text" >Enter Camera name : </label>
                    <input type="text" name="text">
                </fieldset>

                   <fieldset class="options1">

                    <legend>OPTION1</legend>
                    
                    <label  class = "selectOpt" for="cam1" >Cam 1 : </label>
                    <select name="cam1" id="options1">
                        <option value="volvo">1</option>
                        <option value="saab">2</option>
                        <option value="opel">3</option>
                        <option value="audi">4</option>
                    </select>
                    <br><br>
                    

                    <label for="text" >Enter Camera name : </label>
                    <input type="text" name="text">
                </fieldset> -->

        <button class="btn">Submit</button>
      </form>
    </div>
  </div>
</main>

{% include "end.html" %}
