{% include "head.html" %}

<link rel="stylesheet" href="{{url_for('static',filename = 'CSS/base.css')}}" />
<link
  rel="stylesheet"
  href="{{url_for('static',filename = 'CSS/configArea.css')}}"
/>
<script
  src="{{url_for('static',filename = 'JavaScript/home.js')}}"
  defer
></script>
<script
  src="{{url_for('static',filename = 'JavaScript/base.js')}}"
  defer
></script>
<title>Home</title>

{% include "navigation.html" %} {% if session['logged_in'] %}

<div id="backdrop" class="backdrop"></div>
<div class="modal">
  <div class="addForm">
    <form action="/config" method="POST" class="addCamForm">
      
      <input type="text" name="ip" id="ipGetter" placeholder="Enter IP Address"/>
      <input type="text" hidden name = "creationDateAndTime" id = "dt">
      <input type="text" name="CameraName" placeholder="Camera Name" />
      <input type="number" step="1" min="0" placeholder="Limit Count" name = "Threshold" />
  
      <button type="submit" id="btn">Submit</button>
      <!-- <a type="submit" id="submitBtn">Click Me</a> -->
    </form>
  </div>
</div>

<div class="addCamera" id="addCamera">
  <i class="fas fa-plus" id="add"></i>
</div>

{% endif %}

<main class="container">
  {% if not allCameras %}

  <h1 style="font-weight: 500;">Add Camera by clicking add icon at bottom right corner</h1>

  {% else %}
 <h1 class="heading">CAMERA CONFIGURATION</h1>
  <div class="line-breaker"></div>
  <div class="allGrids">

    <h4 class="note">Note - Camera with blue ticks are those which are configured and will be displayed on display section. The rest of the others are yet to be configured.</h5>
      <br>

    {% for camera in allCameras %}

     <div class="grid">
          <div class="image">
            <a href="/config/{{ camera.get('_id') }}" id="configArea_cam" >
              <img src="{{ url_for('views.video_feed' , id = camera.get('_id') ) }}" alt="Turn ON IP Webcam and reload page " />
              </a>
          </div>
          <div class="general_details">
            <h4>

              {% if not camera.get('configured') %}

                {{camera.get('CameraName')}} &nbsp;&nbsp<i
                class="fas fa-times-circle"
                style="color: #fd2428"></i>


              {% else %}

               {{camera.get('CameraName')}} &nbsp;&nbsp<i
                class="fas fa-check-circle"
                style="color: #007dfc"></i>

              {%endif%}
            </h4>
            <h6 class="date">{{camera.get('createdAt')}}</h6>
            <h6>Status : {{ 'Configured' if camera.get('configured') else 'Not Configured'  }}</h6>
            <!-- <h6>Current Count : 0</h6> -->
          </div>
          <div class="Buttonlinks">
            <a href="/config/{{ camera.get('_id') }}" class="blue">{{ 'Configure' if not camera.get('configured') else 'Edit' }} </a>
            <!-- <a href="" class="green">Display</a> -->
            
          
            <a href="/delete/{{ camera.get('_id') }}" class="red" type="submit">Delete</a>
            
          </div>
         
        </div>

    
     
       
      </div>









    {% endfor %}
  </div>

  {% endif %}
</main>

{% include "end.html" %}
