{% include "head.html" %}

<link rel="stylesheet" href="{{url_for('static',filename = 'CSS/base.css')}}" />
<link
  rel="stylesheet"
  href="{{url_for('static',filename = 'CSS/display.css')}}"
/>

<script
  src="{{url_for('static',filename = 'JavaScript/base.js')}}"
  defer
></script>
<!-- <script
  src="{{url_for('static',filename = 'JavaScript/futureDisplay.js')}}"
  defer
></script> -->
<title>Home</title>

{% include "navigation.html" %}

<main class="container">
  {% if not allCameras %}

  <h1 style="font-weight: 500">No Configured Camera available</h1>

  {% else %}
  <div class="heading">
    <h1>Display</h1>
    <div class="totalCount">
      <i class="fas fa-male"></i>&nbsp;&nbsp;
      <span id="total">Total Count - 0</span>
    </div>
  </div>
  <div class="line-breaker"></div>
  <div class="allGrids">
    {% for camera in allCameras %}

    <div class="grid">
      <div class="Live">
        <div class="icon_live"></div>
        <p>{{camera.get('CameraName')}}</p>
      </div>
      <div class="image">
        <img
          src="{{ url_for('views.video_feed' , id = camera.get('_id') ) }}"
        />
      </div>

      <div class="count">
        <p id="{{camera.get('_id')}}">Count : 0</p>
      </div>
      <!-- <a href="/config/{{ camera.get('_id') }}">Click Me</a> -->
    </div>

    {% endfor %}
  </div>

  {% endif %}
</main>
<script>
  const list = JSON.parse(`{{allCameras | tojson | safe}}`);

  const length = list.length;
  const total = document.getElementById("total");

  const arr = new Array(length).fill(0);

  const sum = () => {
    let s = arr.reduce((a, c) => a + c, 0);
    total.textContent = `Total Count - ${s}`;
    console.log("Total :" + s);
  };

  list.forEach((element, index) => {
    // const xhr = new XMLHttpRequest();
    const id = String(element._id);
    const url = new EventSource(`/count_stream/${id}`);
    // const url = `/count_stream/${id}`;
    // console.log(url);
    // xhr.open("GET", url);
    // xhr.send();

    const change = document.getElementById(element._id);

    url.onmessage = event => {
      const data = JSON.parse(event.data);
      arr[index] = data.count;
      change.textContent = `Count :  ${data.count}`;
      console.log(data);
    };

    //   const display = () => {
    //     const message = xhr.responseText;
    //     const l = message.split("*");
    //     //const timeCount = JSON.parse(l);
    //     console.log(l);
    //     //console.log(timeCount);
    //     arr[index] = l ? +l[l.length - 1] : +0;
    //     //console.log(l[l.length - 1]);

    //     change.textContent = `Count :  ${l ? +l[l.length - 1] : +0}`;
    //   };

    //   setInterval(display, 100);
  });
  setInterval(sum, 100);
</script>

{% include "end.html" %}
