{% include "head.html" %}

<link rel="stylesheet" href="{{url_for('static',filename = 'CSS/base.css')}}" />
<link
  rel="stylesheet"
  href="{{url_for('static',filename = 'CSS/report.css')}}"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.0/chart.min.js"></script>

<script
  src="{{url_for('static',filename = 'JavaScript/base.js')}}"
  defer
></script>
<script
  src="{{url_for('static',filename = 'JavaScript/report.js')}}"
  defer
></script>

<title>Home</title>

{% include "navigation.html" %} {% if session['logged_in'] %} {% endif %}

<main class="container">
  <div class="chart-section"></div>
</main>
<!-- <script>
  const graphs = JSON.parse(`{{graphs | tojson | safe}}`);

  const max_size = 8;

  graphs.forEach((element, index) => {
    const id = String(element._id);
    const url = new EventSource(`/graph/${id}`);

    const currentGraph = document.getElementById(element._id).getContext("2d");

    const config = {
      type: "line",
      data: {
        labels: [],
        //"1:00 PM","1:30 PM","2:00 PM","2:30 PM","3:00 PM","3:30 PM"
        datasets: [
          {
            label: "Count",
            data: [],
            // 12, 19, 3, 5, 2, 3, 14, 8
            fill: false,
            borderColor: ["rgba(41, 217, 179, 1)"],
            backgroundColor: "rgba(41, 217, 179, 0.8)",
            borderWidth: 3,
            tension: 0.1,
          },
        ],
      },
      options: {
        responsive: true,
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              color: "rgba(0,0,0, 0.9)",
              font: 20,
              padding: 20,
            },
          },
          x: {
            beginAtZero: false,
            ticks: {
              color: "rgba(0,0,0, 0.9)",
              font: 20,
              padding: 20,
            },
          },
        },
        layout: {
          padding: 20,
        },
        plugins: {
          legend: {
            labels: {
              // This more specific font property overrides the global property
              font: {
                size: 14,
              },
              color: "rgba(0,0,0,1)",
            },
          },
        },
      },
    };

    const myLineGraph = new Chart(currentGraph, config);

    url.onmessage = event => {
      const data = JSON.parse(event.data);
      console.log(data);
      if (config.data.labels.length === max_size) {
        config.data.labels.shift();
        config.data.datasets[0].data.shift();
      }
      config.data.labels.push(data.time);
      config.data.datasets[0].data.push(data.value);
      myLineGraph.update();
    };

    // const display = () => {
    //   // const currTime = new Date().toTimeString().toString().slice(0, 8);
    //   // const message = xhr.responseText;
    //   // const l = message.split("*");
    //   // //const timeCount = JSON.parse(l);
    //   // console.log(l);
    //   // //console.log(timeCount);
    //   // //arr[index] = l ? +l[l.length - 1] : +0;

    //   // if (max < +l[l.length - 1]) {
    //   //   max = +l[l.length - 1];
    //   // }

    //   // if (time == currTime) {
    //   //   matrix[index] = matrix[index].push({ currTime: max });
    //   //   if (matrix[index].length === max_size) {
    //   //     matrix[index].shift();
    //   //   }
    //   // }

    //   const currTime = new Date().toTimeString().toString().slice(0, 8);
    //   //console.log(currTime,time)
    //   // if (currTime !== Time) {
    //   console.log(config.data.labels, config.data.datasets[0].data);
    //   Time = currTime;
    //   config.data.datasets[0].data.push(Math.ceil(Math.random() * 1000));
    //   config.data.labels.push(currTime);
    //   if (config.data.datasets[0].data.length >= max_size) {
    //     config.data.datasets[0].data.shift();
    //     config.data.labels.shift();
    //   }
    //   myLineGraph.update();
    //}
    //console.log(l[l.length - 1]);

    //change.textContent = `Count :  ${l ? +l[l.length - 1] : +0}`;

    //setInterval(display, 3000);
  });
  //setInterval(sum, 100);
</script> -->

{% include "end.html" %}
