 </head>
  <body>
    <header>
      <div class="logo">
          <h3>Crowd Counting Challenge</h3>
        </div>
      <div class="Login">

        

        {% if not session['logged_in'] %}

         <a href="/login"><i class="fas fa-user"></i>&nbsp;&nbsp;SIGN IN</a>

         {% else %}

         <p><i class="fas fa-user"></i>&nbsp;&nbsp;{{session['user'].get('name')}}</p>
         <div class="logout">
           <a href="/logout">Logout</a>
         </div>

        {% endif %}



       
        
      </div>
    </header>

    <nav class="navigation" id="navigation">
       <!-- <div class="background">
        <img src="{{url_for('static',filename = 'images/bg2.jpg')}}" alt="" class="bg" />
      </div> -->

      <div class="background"></div>

      
      <div class="timebox">
        <p id="time">TIME</p>
      </div>
      <div class="links">
        <ul class="nav-links">
        <li><a href="{{'/' if not session['logged_in'] else '/'}}">HOME</a></li>
         <li><a href="{{'/' if not session['logged_in'] else '/display'}}">DISPLAY</a></li>
        <li><a href="{{'/' if not session['logged_in'] else '/config'}}">CONFIG</a></li>
        <li><a href="{{'/' if not session['logged_in'] else '/report'}}">REPORT</a></li>
       
     
      </ul>
      </div>
      
    </nav>
    <div class="sliderIcon" id="sliderbtn">
      <i class="fas fa-chevron-right" id="icon"></i>
    </div>

    <div id="error-container"></div>