<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href={{url_for('static',filename = 'CSS/login.css')}} />
   
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{details["pageTitle"]}} </title>
  </head>
  <body>
    <div class="container">
      <form action="/login" method="POST" novalidate>
        <div class="line1">
          <h3 class="h31">Crowd<span>Counting</span> </h3>
          <h3 class="h33">Sign in to enjoy our services</h3>
        </div>
      
        <div>
           {% with messages = get_flashed_messages(with_categories = true) %} {% if
        messages %} {% for category,message in messages %}
         <div class=" {{ 'error' if category=='error' else 'error green'}}">
          <p>{{ message }}</p>
        </div>
        {% endfor %} {% endif %} {% endwith %}
            <div class="input-line one">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div class="div">
            
            <input type="email" class="input" name = "email" value="" placeholder="Email"/>
          </div>
        </div>
        
        <div class="input-line two">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div class="div">
          
            <input type="password" class="input" name = "password"  id="pass" value="" placeholder="Password"/>
          </div>
          <div class="i"><i id="icon" class="fas fa-eye-slash"></i></div>
        </div>
       
        </div>
        
        <div class="line4">
          <a href="/forgot">
            Forgot password?
          </a>
          <a href="/signup">Sign Up</a>
          <button type="submit" class="btn">Sign In Now</button>
        </div>
        <input type="hidden" , name="_csrf" value = "<%=csrfToken%>">
      </form>
    </div>
    <script type="text/javascript" ">

  
const inputs = document.querySelectorAll('.input');


function addcl() {
  let parent = this.parentNode.parentNode;
  parent.classList.add('focus');
}

function remcl() {
  let parent = this.parentNode.parentNode;
  if (this.value == '') {
    parent.classList.remove('focus');
  }
}

inputs.forEach(input => {
  if(input.value !== ''){
    let parent = input.parentNode.parentNode;
    parent.classList.add('focus');
  }
  input.addEventListener('focus', addcl);
  input.addEventListener('blur', remcl);
});

var inputPass = document.getElementById('pass'),
  icon = document.getElementById('icon');

icon.onclick = function() {
  if (inputPass.className == 'active') {
    inputPass.setAttribute('type', 'text');
    icon.className = 'fa fa-eye';
    inputPass.className = '';
  } else {
    inputPass.setAttribute('type', 'password');
    icon.className = 'fa fa-eye-slash';
    inputPass.className = 'active';
  }
};




</script>
  </body>
</html>
